##
## nPress - opensource cms
##
## @copyright  (c) 2012 Pavel Zbytovský (pavel@zby.cz)
## @link       http://npress.info/
## @package    nPress
##

Options -Indexes

RewriteEngine On


##
## Set the nPress directory relative to web root
##
RewriteBase /


##
## Uncomment to prefer www-prefixed domain name
##
#RewriteCond %{HTTP_HOST} ^www.zby.cz$
#RewriteRule ^.*$ http://zby.cz/$0 [R=301,L]


##
## Main rewrite rule - nPress handles everything
## - uncomment following lines to allow parallel real-directories structure
##
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !^(favicon\.ico|index\.php|static/.+|data/.+|theme/.+)$ index.php [L]


##
## Cached thumbnails handled by apache, non-existent by Nette
##
RewriteCond %{REQUEST_URI} /data/thumbs/([^.]+)(\.[^.]+)?\.(jpg|jpeg|png|gif)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [NE,L]


##
## PHP settings - comment those when running PHP as CGI
##
#php_value default_charset utf-8
#php_value date.timezone Europe/Prague
#php_flag magic_quotes_gpc Off
#php_flag magic_quotes_runtime Off
#
#php_flag file_uploads On
#php_value upload_max_filesize 100M
#php_value post_max_size 100M
###php_value upload_tmp_dir temporarydir

