
{!$page->content}

{form contactForm class=>'contact-form'}
	<fieldset>
		<div class="rowElem">
			<label><span class="text-form">Jméno</span>{input name}</label>
		</div>
		<div class="rowElem">
			<label><span class="text-form">E-mail</span>{input email}</label>
		</div>
		<div class="textarea-box">
			<div class="wrapper label-2"><div class="text-form">Zpráva</div>{input text}</div>
		</div>
		<div class="buttons">
			{input submit1 class=>'button'}
		</div>
	</fieldset>
{/form}