{block #content}


<div class="hero-unit">
	<h1>Vítejte v nPress</h1>
	<p>Pokračujte výběrem stránky, nebo přidáním nové ikonkou <i class="icon-plus"></i>.</p>
	<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>


{*
<p>Pokus s rozbalovacím stromem:<br>
{control treeView}

*}

