<!DOCTYPE html>
{* dir="ltr" *}
<html lang="{$lang}">
<head>
	<meta charset="utf-8">
	<title>{block title}{/block}{block layout_aftertitle} | {$config[webTitle]}{/block}</title>
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="generator" content="nPress {!NPRESS|striptags}">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	{* css stylesheet *}
	{block layout_stylesheet}
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/static/screen.css">
		<link rel="stylesheet" media="print" href="{$basePath}/static/print.css">
	{/block}
	<script>document.write('<style>.jshidden { display:none }</style>')</script>

	{if $config[preferCdnJquery]}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{!$basePath}/static/js/jquery.min.js"><\/script>');</script>
	{else}
	<script src="{$basePath}/static/js/jquery.min.js"></script>
	{/if}

	{foreach $langs as $l=>$txt}
		<link rel="alternate" href="{$presenter->langSwitch($l)}" hrefLang="{$l}">
	{/foreach}


	<!-- npress frontend javascripts -->
	{include $frontjslatte}
	{block layout_js}{/block}

	{block layout_head}{/block}

	{* google analytics - now at the bottom of the head *}
	<script n:if="$config[analytics]">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', {$config[analytics]}]);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>

<body>
{block layout_body}
	<div class="fright" n:inner-foreach="$langs as $l=>$txt">
		<a href="{$presenter->langSwitch($l)}" n:class="$lang==$l?bold" class="{$l}">{$txt}</a>
		{sep} | {/sep}
	</div>

	<h1 class="main">{$config[webTitle]}</h1>

	<div id="menu" n:snippet="menu">
			<ul>
			{block #TreeView}
				{foreach $pages->getChildNodes() as $row}
					<li n:class='in_array($row, $crumbs) ? active, $presenter->isCurrent($row->id) ? current'>
							<a href='{$row->link()}'>{$row->name}</a>
							<ul>{include #TreeView, 'pages' => $row}</ul>
					</li>
				{/foreach}
			{/block}
			</ul>
	</div>

	<div id="obsah">
		{include #content}
	</div>
{/block}


{block editlink}
  <span n:if="isset($presenter->page) && $presenter->user->isLoggedIn()" style="position:fixed;left:0;bottom:0;padding:1em;background:#000;color:#685DE7;opacity:0.5;z-index:1000">
    <a n:href=":Admin:Pages:edit $presenter->page->id, lang=>$presenter->page->lang">edit</a>
    <b n:if="$historyVersion" style="color:#fff;padding-left: 1.5em;">Zobrazen náhled verze z {$historyVersion->updated_at}</b>
  </span>
{/block}



{* analytics tracking code *}
{if $config[clicky]}
	{* put in theme sidebar: <a title="Google Analytics Alternative" href="http://getclicky.com/{$config[clicky]}"><img alt="Google Analytics Alternative" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a> *}
	<script type="text/javascript">
		var clicky_site_ids = clicky_site_ids || [];
		clicky_site_ids.push({$config[clicky]});
		(function(d) {
			var s = d.createElement('script');
			s.type = 'text/javascript';	s.async = true;	s.src = '//static.getclicky.com/js';
			( d.getElementsByTagName('head')[0] || d.getElementsByTagName('body')[0] ).appendChild( s );
		})(document);
	</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{$config[clicky]}ns.gif" /></p></noscript>
{/if}

</body>
</html>

