<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="generator" content="{!NPRESS|striptags}">

	<title>{$config[webTitle]} &ndash; Administrace</title>

	<link rel="stylesheet" href="{$basePath}/static/bootstrap.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/static/screen.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<script>document.write('<style>.jshidden { display:none }</style>')</script>

	{if $config[preferCdnJquery]}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
	<script>window.jQuery || document.write('<script src="{!$basePath}/static/js/jquery.min.js" type="text/javascript"><\/script>');</script>
	{else}
	<script src="{$basePath}/static/js/jquery.min.js" type="text/javascript"></script>
	{/if}

	{block head}{/block}
</head>

<body>
<div class="navbar navbar-fixed-top">
<div class="navbar-inner">
	<div class="container">
		<span id='ajax-spinner pull-right'></span>

		<div class="btn-group pull-right">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="icon-user"></i> {$presenter->user->identity->id}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a n:href="Admin:logout">odhlásit</a></li>
				<li class="divider"></li>
				<li class="inline">Jazyk administrace:<br /> <a href="#">cs</a> / <a href="#">en</a></li>
			</ul>
		</div>

		<!-- lang switch -->
		<ul class="nav pull-right" n:if="count($langs)>1">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i> {$lang} <b class="caret"></b></a>
				<ul class="dropdown-menu">
					{foreach $langs as $l=>$txt}
						<li><a n:href="this lang=>$l"><b n:tag-if="$lang==$l">{$txt} ({$l})</b></a></li>
					{/foreach}
				</ul>
			</li>
		</ul>
			

		<a n:href="Admin:default" class='npresslogo navbar-text pull-left'><span>n</span>Press</a>

		<div class="navbar-text pull-left span">
			<a n:href=":Front:Pages: lang=>$lang" class="brand">{$config[webTitle]} <small>web &raquo;</small></a>
		</div>

		<div id='flashes'><div class='box' n:snippet="flashes">
			<div n:foreach="$flashes as $flash" class="flash alert">
				{$flash->message}
				<a href='{$flash->undolink}' n:if="isset($flash->undolink)" class="ajax">vzít zpět</a>
			</div>
			&nbsp;
			<script>window.setTimeout(function(){ $('#flashes div div').fadeOut(8000); }, 5000);</script> {* za 5sec už je $ inicializován *}
		</div></div>

	 </div>
</div>
</div> <!-- /navbar -->


<div class="container">
<div class="row">

	<!-- left sidebar -->
	<div class="span3">
	<div class="well sidebar-nav">

		<!-- pages menu edit buttons -->
		<div class="btn-group pull-right spacer spacerr">
			<button id="js-menu-reordering" class="btn btn-mini btn-info" data-toggle="button">upravit</button>

			<a class="btn btn-mini btn-info dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-plus icon-white"></i></a>
			<ul class="dropdown-menu">
				<li><a n:href="Pages:add $presenter->getParam('id_page'),1">přidat stránku</a></li>
				<li><a n:href="Pages:add $presenter->getParam('id_page')">přidat podstránku</a></li>
				{foreach PagesModel::getPagesByMeta('.category','yes') as $r}
					{first}<li class="divider"></li>{/first}
					<li><a n:href="Pages:add $r->id">přidat do {$r->name}</a></li>
				{/foreach}
			</ul>
		</div>

		<h2 class="nav-header spacer">Stránky</h2>


		<div class="menu" n:snippet="menu" data-afterUpdate="menu_reordering">
			<ul id="js-menu" data-pagesortLink="{link Admin:pagesort}" class="ui-sortable-disabled">
			{block #TreeView}
				{foreach $pages->getChildNodes() as $row}
					<li id='menuid-{$row->id}'>
						<div n:class='!$row[published] ? unpublished, $presenter->isCurrent($row->id) ? current'>
							<a n:href='Pages:edit $row->id'>{$row->name}</a>
						</div>
						{if !$row->getMeta('.category')}
							<ul n:class="!in_array($row, $crumbs) ? jshidden">
								{include #TreeView, 'pages' => $row}
							</ul>
						{/if}
					</li>
				{/foreach}
			{/block}
			</ul>
		</div>{*/snippet #menu*}


		<ul class="nav nav-list spacer">
			<li class="nav-header">Nastavení</li>
			<li><a n:href="Pages:trash"><i class="icon-trash"></i> Koš stránek</a>
			{* <li><a>Nastavení</a> *}
			<li><a n:href="Redirect:"><i class="icon-random"></i> Přesměrování</a>
			<li n:if="count($langs)>1"><a n:href="Translations:"><i class="icon-globe"></i> Překlady</a></li>
			{foreach $adminMenu as $link=>$txt}
				<li><a href="{$link}">{!$txt}</a></li>
			{/foreach}
		</ul>

	</div><!--/.well -->
	</div><!--/span -->

	<div class="span9" id="content">
	{include #content}
	</div><!--/span-->
	

</div><!--/row-->
</div><!--/container-->

<hr>

<footer>
	<p><a href="http://npress.info/"><small>CMS nPress {!NPRESS}</small></a></p>
</footer>

<!-- npress frontend javascripts -->
{include $frontjslatte}


<!-- npress admin javascripts -->
<script type="text/javascript" src="{$basePath}/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.dump.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.nette.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.ajaxfileupload.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.ajaxform.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.cookie.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/jquery.ui.nestedSortable.js"></script>
<script type="text/javascript" src="{$basePath}/static/js/admin.js"></script>

<!-- simplemodal (needed by wysiwyg) -- >
<link rel="stylesheet" href="{$basePath}/static/jwysiwyg/lib/jquery.simplemodal.css" type="text/css"/>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/lib/jquery.simplemodal.js"></script>

<!-- wysiwyg -->
<link rel="stylesheet" href="{$basePath}/static/jwysiwyg/jquery.wysiwyg.css" type="text/css"/>
<link rel="stylesheet" href="{$basePath}/static/jwysiwyg/jquery.wysiwyg.modal.css" type="text/css"/>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/jquery.wysiwyg.js"></script>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/plugins/wysiwyg.i18n.js"></script>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/i18n/lang.cs.js"></script>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/controls/wysiwyg.image.js"></script>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/controls/wysiwyg.link.js"></script>
<script type="text/javascript" src="{$basePath}/static/jwysiwyg/controls/wysiwyg.table.js"></script>

<!-- uploadify -->
<script type="text/javascript" src="{$basePath}/static/uploadify/swfobject.js"></script>
<script type="text/javascript" src="{$basePath}/static/uploadify/jquery.uploadify.v2.1.4.js"></script>
<link rel="stylesheet" href="{$basePath}/static/uploadify/uploadify.css" type="text/css" />


<!-- twitter bootstrap UI -->
<script type="text/javascript" src="{$basePath}/static/js/bootstrap.min.js"></script>



</body>
</html>
